{% extends 'layout.html' %}
{% block body %}
  <h3 class='text-center text-muted mb-3'>SAP HANA DB Cloud Apps Consume API Services</h3>
  <td><p>Total: {{dbrecords}} records</p></td>
  <p class='text-left'><a href='{{url_for("add_data")}}' class='btn btn-success '>+Add Data</a></p>
  <table class='table table-bordered'>
    <thead>
      <th>ProductID</th>
      <th>ProductName</th>
      <th>SupplierID</th>
      <th>CategoryID</th>
      <th>QuantityPerUnit</th>
      <th>UnitPrice</th>
      <th>UnitsInStock</th>
      <th>UnitsOnOrder</th>
      <th>ReorderLevel</th>
      <th>Discontinued</th>
    </thead>
    <tbody>
      {% for row in datas %}
        <tr>
          <td>{{row.PRODUCTID}}</td>
          <td>{{row.PRODUCTName}}</td>
          <td>{{row.SUPPLIERID}}</td>
          <td>{{row.CATEGORYID}}</td>
          <td>{{row.QUANTITYPERUNIT}}</td>
          <td>{{row.UNITPRICE}}</td>
          <td>{{row.UNITSINSTOCK}}</td>
          <td>{{row.UNITSONORDER}}</td>
          <td>{{row.REORDERLEVEL}}</td>
          <td>{{row.DISCONTINUED}}</td>
          <td><a href='{{url_for("delete_data",productid=row.PRODUCTID)}}' class='btn btn-danger' onclick='return confirm("Are You Sure")'>Delete</a></td>
        </tr>
      {%endfor%}
    </tbody>
  </table>
{% endblock %}
